@page
@model Stellarium.Pages.RulesAndGuidesModel
@{
	ViewData["Title"] = "Правила и руководства";
	<div class="innerpublication" style="white-space:pre-line; margin-top:-20px;"><h3 style="text-align:center">Правила и руководства</h3>Правила пользования сайта регулируют условия использования форума пользователями, а также права и обязанности пользователями.

Начало использования сайта, в том числе авторизация, означает ознакомление с правилами и согласие их выполнять.

Пользователь при общении в комментариях на Сайте обязуется соблюдать этические нормы и поддерживать общение хотя бы на приятельском уровне. Нарушение этого принципа может повлечь за собой санкции со стороны администрации.

Пользователю при использовании форума запрещается:

1. Осуществлять авторизацию от имени или вместо другого лица (с использованием «фальшивого» или чужого аккаунта);

2. Искажать сведения о себе, предоставляемые путем осуществления авторизации. Создавать дополнительные аккаунты для поддержания рейтинга основного аккаунта, создание «твинков» наказывается деактивацией всех аккаунтов пойманного на этом пользователя;

3. Загружать, публиковать, распространять и предоставлять доступ или иным образом использовать любую информацию, которая:
(а) Содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни других пользователей или третьих лиц;
(б) Пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует идеологию расового превосходства;
(в) Содержит экстремистские материалы;
(г) Пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;
(д) Содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц;
(е) Содержит рекламу;
(ж) Носит мошеннический характер;
(з) Публикуется с единственной целью завязать спор и вывести других пользователей на оскорбления.
(и) А также нарушает иные права и интересы граждан и юридических лиц и/или требования законодательства Российской федерации.

4. Незаконно загружать, публиковать, распространять и предоставлять доступ или иным образом использовать интеллектуальную собственность пользователей и третьих лиц;

5. Осуществлять массовые рассылки сообщений (комментариев и публикаций);

6. Осуществлять действия, направленные на нарушение нормального функционирования форума;

7. Загружать, публиковать, распространять и предоставлять доступ или иным образом использовать вирусы, трояны и другие вредоносные программы;

8. Использовать без специального на то разрешения администрации форума автоматизированные скрипты (программы) для сбора информации на форуме и/или взаимодействия с форуме и его функционалом;

9. Любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к информации о другом пользователе;

10. Осуществлять незаконные сбор и обработку персональных данных других лиц;

11. Осуществлять использование форума иным способом, кроме как через интерфейс, предоставленный администрацией форума, за исключением случаев, когда такие действия были прямо разрешены пользователю в соответствии с отдельным соглашением с администрацией;

12. Размещать коммерческую или политическую рекламу;

13. Размещать любую другую информацию, которая, по личному мнению администрации, является нежелательной, не соответствует целям создания форума, ущемляет интересы пользователей или по другим причинам является нежелательной для размещения на форуме;
	</div>
}
