/* _content/Stellarium/Pages/Shared/_Layout.cshtml.rz.scp.css */
a.navbar-brand[b-smoeldksuv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-smoeldksuv] {
  color: #0077cc;
}

.btn-primary[b-smoeldksuv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-smoeldksuv], .nav-pills .show > .nav-link[b-smoeldksuv]{
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-smoeldksuv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-smoeldksuv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-smoeldksuv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-smoeldksuv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-smoeldksuv] {
  position: absolute;
  bottom: 0;
  width: 220px;
  white-space: nowrap;
  line-height: 60px;
}

.brand[b-smoeldksuv] {
    text-decoration: none;
}

header[b-smoeldksuv] {
    border: medium;
    height: 40px;
    background: gray;
}

.navbar[b-smoeldksuv] {
   width: 120px;

}

